<div class="toolbar-content">
  <div class="toolbar">
    <div class="rxjs-image">
      <img src="assets/images/pngegg.png" alt="RxJS Logo">
    </div>
    <div class="title">{{ title }}</div>
  </div>
  <div class="content">
    <div class="buttons-container">
      <button class=" btn btn-primary" [disabled]=!!subscription (click)="startStream()">
        Start Stream
      </button>
      <button class=" btn btn-dark" [disabled]=!subscription (click)="stopStream()">
        Stop Stream
      </button>
    </div>
    <div class="streams">
      <div class="input-stream-box">
        <div class="stream-title">Combined Stream</div>
        <div class="stream-content" *ngFor="let item of combinedStreamData">
          Title: {{ item.title }}, Type: {{item.type}}
        </div>

      </div>
      <div class="output-stream-box">
        <div class="stream-title">Birds</div>
        <div class="stream-content" *ngFor="let bird of birds">
          {{ bird }}
        </div>
      </div>
      <div class="output-stream-box">
        <div class="stream-title">Countries</div>
        <div class="stream-content" *ngFor="let country of countries">
          {{ country }}
        </div>
      </div>
    </div>
  </div>
</div>
