<h5>Latest Version = {{vName}}</h5>
<div class="logs">
  <div class="logs__item" *ngFor="let log of logs">
    {{log}}

  </div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora, voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora, voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora,
  voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora,
  voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora,
  voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis tempora,
  voluptates nihil obcaecati
  eligendi mollitia enim accusantium architecto rem voluptate aspernatur rerum et voluptatibus quibusdam quidem.
  Dolores, assumenda quaerat.
</div>
